.CartItems {
    margin: 1rem auto;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
    width: 60rem;
    width: 95%;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    background-color: #f4f0fa;
}

.CartItemTable{
    padding-left: 100px;
    padding-right: 100px;
}

.CartItems th td{
    text-align: center;
}

.thProductID{ 
    width: 100px;
}

.thName{
    width: 150px;
}

.thDescripiton{
    width: 300px;
}

.thPrice{
    width: 100px;
}

.thQty{
    width: 100px;
}

#btnRemove{
    color: red;
}

#btnCheckout{
    color: green;
}